node_modules/
.expo/
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/

# Expo router
expo-env.d.ts

# Native platforms
ios
android

# macOS
.DS_Store

# Metro temporary files
.metro-health-check*

# Environment variables
.env

# Test coverage
coverage/
